:root {
  --navbar-height: 4rem;

  --text: #000000;
  --bgc: #ffffff;

  --navbar-bgc: #ffffff;

  --a-color: #00bd7e;
  --a-underline-color: #0cc739;

  --btn-bgc: #1eb88e;
  --btn-hover-bgc: #26c49a;

  --text-dark: #222222;
  --text-dark-gray: #aaaaaa;
  --text-gray: #cccccc;
  --text-light: #ffffff;

  --primary: #52b394;
  --primary-light: #5bd2aa;
}
