:root {
  --navbar-height: 4rem;
  --sidebar-width: 15rem;

  --navbar-z-index: 2000;
  --sidebar-z-index: 1000;
  --main-z-index: 0;
  --footer-z-index: 0;

  --text: #000000;
  --bgc: #ffffff;

  --navbar-bgc: #ffffff;
  --sidebar-bgc: #ffffff;
  --sidebar-backdrop-bgc: #55555555;

  --a-color: #00bd7e;
  --a-underline-color: #0cc739;

  --btn-bgc: #1eb88e;
  --btn-hover-bgc: #26c49a;

  --text-dark: #222222;
  --text-dark-gray: #aaaaaa;
  --text-gray: #cccccc;
  --text-light: #ffffff;

  --primary: #52b394;
  --primary-light: #5bd2aa;
}
